<div class="right menu">
    <div class="head-bar">
        <div class="ui small buttons">
            <button data-action="view-daily" class="ui green button small">D</button>
            <div class="or"></div>
            <button data-action="view-weekly" class="ui blue button small">W</button>
            <div class="or"></div>
            <button data-action="view-monthly" class="ui purple button small">M</button>
            <div class="or"></div>
            <button data-action="view-quarterly" class="ui orange button small">Q</button>
            <div class="or"></div>
            <button data-action="view-fix" class="ui button red small">A</button>
            <a href="/#!/generate/" class="ui small green pdf button">Generate PDF</a>
        </div>
    </div>
</div>