/* Gantt chart style */
/* author : Vineeth Krishnan */
html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/
/*rtl:ignore*/
.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
}

.masthead.segment {
  background: #fff;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  padding-top: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  /*margin: 3em 1em 1em 280px;*/
}

.masthead.segment .information p {
  max-width: 600px;
  margin: 0 0 2em 0;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0;
  bottom: -110px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0;
  padding: 0;
}

.ui.cube.shape .side {
  background-color: transparent;
}
.ui.buttons .or:before{
  background-color: #528c98;
  color: #333;
}
.ui.buttons .or:after{
  border-top: 0.5em solid #528c98;
border-bottom: 0.5em solid #528c98;
}
.pdf{
  display: inline;
}
.task:hover,.sub-task:hover{
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: url(openhand.cur), move;
}
.task:active,.sub-task:active{
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: url(closedhand.cur), move;
}
div.menu-container,#gantt-container{
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
}

 /*style reset for chosen*/
.chosen-container{
  min-height: 30px;
}
.chosen-container-multi .chosen-choices{
  min-height: 35px;
  border-radius: 4px;
}

.menu-header{
  margin: 3.3% auto;
}
.menu-header-opened{
  margin: 1.4% auto;
}
.content-edit{
  outline: 1px solid #0090d3;
  box-shadow: 0 0 3px 2px rgba(124,252,14,0.4);
  padding: 5px 1px;
  width: 67% !important;
  border-radius: 5px;

}
.task:hover,.sub-task:hover{
  background-color: rgba(199, 138, 51, 0.5);
}
.item-selector{
  height: 22px;
  position: fixed;
  display: none;
  width: 98%;
  background-color: rgba(199, 138, 51, 0.5);
  top:10px;
  z-index: 1; 
}
/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.page.grid.segment {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }
  /*rtl:ignore*/
  .menu .right.menu > .item {
    display: none;
  }
  /*rtl:ignore*/
  .menu .right.menu > .mobile.item {
    display: block;
  }
 #gantt-container{
  /*min-width: 1300px;*/
 }
  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }

  .masthead.segment .information {
    /*margin-left: 190px;*/
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }
  /*rtl:ignore*/
  .selection.list .right.floated {
    display: none;
  }
}
@media only screen and (max-width : 760px) {
  /*Setting viewport for medium devices*/
  .menu-container{
    width: 230px  !important;
  }
}
@media only screen and (max-width : 1000px) {

}