body {
	line-height: 1;
}

body {
	font-family: tahoma, verdana, helvetica;
	font-size: 0.8em;
	padding: 10px;
	background-color: #e5e5e5;
}

.Gantt {
	height: 100%;
	width: 98%;
	margin-left: 1%;
}


/* Gantt chart style */
/* author : Vineeth Krishnan */
html,
body {
    font-size: 15px;
    /*height: 100%;*/
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    color: #555555;
    text-rendering: optimizeLegibility;
    min-width: 320px;
}


.ui.button {
    font-weight: normal;
    text-decoration: none;
}

a {
    color: #009FDA;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

a:hover {
    color: #00BAFF;
}

p a {
    font-weight: bold;
}

/*******************************
            Global
*******************************/
.ui.page.grid.segment {
    padding: 0.5rem 0;
}

.hdr-title {
    padding-top: 1px;
    margin-bottom: 12px;
}

.task:hover,.sub-task:hover{
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: url(openhand.cur), move;
}



.task:active,.sub-task:active{
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: url(closedhand.cur), move;
}
div.menu-container,#gantt-container{
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    padding-left:0px;
}

.panel-collapsed {
    width: 425px;
}

.panel-expanded {
    width: 650px;
}


.menu-header{
    margin-top: 5px;
    margin-bottom: 5px;
}

.task:hover,.sub-task:hover{
    background-color: rgba(199, 138, 51, 0.5);
}
.item-selector{
    height: 22px;
    position: fixed;
    display: none;
    width: 98%;
    background-color: rgba(199, 138, 51, 0.5);
    top:10px;
    z-index: 1;
}
/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
    .ui.page.grid.segment {
        padding-top: 0.5rem;
        padding-bottom: 2rem;
    }
    #gantt-container{
        /*min-width: 1300px;*/
    }
}
@media only screen and (max-width : 760px) {
    /*Setting viewport for medium devices*/
    .menu-container{
        width: 230px  !important;
    }
}
@media only screen and (max-width : 1000px) {

}

div.menu-container {
	border-right: 3px solid rgba(0, 0, 0, 0.2);
	overflow: hidden;
	/* display: inline-block; */
	min-height: 100%;
	left: 0%;
	padding: 0 10px;
	z-index: 1;
	position: absolute;
	background: rgb(255, 255, 255);
}

.menu-header{
	position:relative;
	background-color: white;
	width: 102%
}
.btnW{
	position:absolute;
	top:0;
	right:0;
	border: 1px solid #000;
}
.btnW:before{
	content:'>'
}
.btnW.contract:before{
	content:'<'
}
.menu-header .hdr-title{
	border-bottom: 4px solid rgba(0, 0, 0, 0.3);
	height: 0px;
	width: 104%;
}
.menu-container ul{
	list-style-type: none;
	display: block;
	overflow: hidden;
}
.menu-container ul li{
	float:left;
	line-height: 1.5;
	padding: 0px 2px 0px 2px;
}

.task-container{
	width: 750px;
}
.task-container-title{
    width: 750px;
}
.task{
	white-space: nowrap;
	max-height: 21px;
}

.task-list-container{
	overflow: auto;
}
.task-list-container li{
	overflow: hidden;
}

div.gantt-chart-container {
	float: right;
	width: 100%;
	
	display: initial;
}


.task .col-info {
    opacity:0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 21px;
    height: 21px;
}

.task .col-info img{
    width: 21px;
    height: 21px;
}

.task:hover .col-info{
    opacity:1;
}

.task .col-name{
	width:320px;
	white-space: nowrap;
	overflow: hidden;
}

.collapsed {
	font-weight: bold;
}

.nameInput {
	width: 290px;
}

.task .col-name i{
/*     margin-left: 15px; */
    margin-right: 5px;
    /* cursor: pointer; */
}

.task .col-sortindex {
    width:30px;
}

.task .col-comments {
    margin-left: -40px;
    color : blue;
    font-size: 12px;
}

.task .col-name div{
	display: inline-block;
}

.task .col-start{
	padding-left: 10px;
	width: 90px;
}
.task  .col-end{
	padding-left: 10px;
	width: 90px;
}
.task .col-complete{
	text-align: center;
	width: 40px;
}

.task .col-duration{
	padding-left: 10px;
	width: 50px;
}

i.icon{
	margin: 0;
}

.ui.button > .icon{
	margin-right: 0;
}

@media only screen and (max-width: 760px){
	div.gantt-chart-container{
		float: none;
		clear: both;
		width: 100%;
	}
}

/*#modalEditContainer {*/
	/*position: absolute;*/
	/*top : 50px;*/
	/*left: 50%;*/
/*}*/

#main-view {
    /* margin-top: 15px; */
    padding-top: 0px;
}

#main {
    margin-top: 120px;
    padding: 0;
}

#head {
    top: 0;
    z-index: 2;
    margin-top: 0;
    width: 98%;
}

.hold-scroll {
    overflow: hidden;
}


/*styles for modal edit*/
.ui.form input[type="text"], .ui.form input[type="email"], .ui.form input[type="date"], .ui.form input[type="password"], .ui.form input[type="number"], .ui.form input[type="url"], .ui.form input[type="tel"] {
    padding: 0.4em 0.5em !important;
}
.ui.form select {
    padding: 0.2em 0.5em !important;
    width: 160px !important;
}

.ui.textarea, .ui.form textarea {
    height: 6em !important;
    padding: 0.3em 0.5em !important;
}
.labelsolid {
    background-color: white;
    font-weight:bold;
    float: left;
    height: 100%;
    line-height: 1em;
    margin: 0;
    padding: 0;
    position: static;
}
.label_80 {
    display: block !important;
    float: left;
    padding-right: 5px;
    padding-top: 5px;
    text-align: left;
    width: 80px !important;
}
.textdiv{
    padding:8px;
}
.ui.form .field {
    margin: 0 0 0.5em !important;
}
.noborder {
    border-width:0px !important;
    border:none !important;
}
.ui.checkbox {
    width: 130px !important;
}
.selectdiv{
    padding:2px;
}
.column{
    height:120px;
}
.right_top{
    float:right;
    border-left: 1px solid lightgray;
}
/*div.menu-container {*/
/*top: 120px;*/
/*}*/
#top-menu{
    z-index:1000 !important;
}